
<section id='records'>
  <% if searching? %>
    <h2><%= t('results_for', :scope => 'refinery.admin.search',
                             :query => params[:search]) %></h2>
    <% if @categories.any? %>
      <%= render :partial => "store_categories",
                 :collection => @categories %>
    <% else %>
      <p><%= t('no_results', :scope => 'refinery.admin.search') %></p>
    <% end %>
  <% else %>
    <% if @categories.any? %>
      <%= will_paginate @categories %>

      <%= render :partial => "sortable_list" %>

      <%= will_paginate @categories %>
    <% else %>
      <p>
        <strong>
          <%= t('.no_items_yet', :create => t('new', :scope => 'refinery.stores.admin.submenu.blogcategories')) %>
        </strong>
      </p>
    <% end %>
  <% end %>
</div>


<aside id='actions'>
  <%= render '/refinery/stores/admin/products/actions' %>
</div>
