<nav id='actions' class='multilist'>
  <ul class='search_list'>
    <li class='not_a_link'>
      <%= render :partial => "/refinery/admin/search",
                 :locals => {
                   :url => refinery.stores_admin_products_path
                 } %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li class='not_a_link'>
      <%= link_to t('.products.title'), '#',
                   :class => 'page_copy_icon' %>
    </li>
    <li>
      <%= link_to t('.products.manage'), refinery.stores_admin_products_path,
                   :class => 'page_icon' %>
    </li>
    <li>
       <%= link_to t('.products.new'), refinery.new_stores_admin_product_path,
                   :class => 'page_add_icon' %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li class='not_a_link'>
      <%= link_to t('.categories.title'), '#',
                  :class => 'page_copy_icon' %>
    </li>
    <li>
      <%= link_to t('.categories.manage'), refinery.stores_admin_categories_path,
                  :class => 'page_icon' %>
    </li>
    <li>
      <%= link_to t('.categories.new'), refinery.new_stores_admin_category_path,
                  :class => 'page_add_icon' %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li class='not_a_link'>
      <%= link_to t('.orders.title'), refinery.stores_admin_orders_path,
                  :class => 'page_copy_icon' %>
    </li>
    <li>
      <%= link_to t('.orders.manage'), refinery.stores_admin_orders_path,
                  :class => 'page_icon' %>
    </li>
    <li>
      <%= link_to t('.orders.new'), refinery.new_stores_admin_order_path,
                  :class => 'page_add_icon' %>
    </li>
  </ul>

</nav>

<% content_for :stylesheets, stylesheet_link_tag('refinery/stores/backend') %>

